.sidebar {
  width: 280px;
  height: 100vh;
  background-color: #ffffff;
  border-right: 1px solid #EFEDF6;

  &__nav-list {
    padding-top: 52px;

    & li {
      padding: 22px 72px 21px;
    }

    &--active-item {
      background-color: #F8F8FA;
    }
  }
}