.user-card {
  padding: 24px 30px 32px;

  &__title {
    margin-bottom: 2px;
    cursor: pointer;
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
    color: $light-color;
    margin-bottom: 19px;
  }
}